<div class="container" id="login" style="width: 100%;">
  <div class="row" style="width: 100%;">
    <div class="col-md-6">
      <div class="card" id="left">
        <div class="text-center">
          <h1>Forgot Password</h1>
        </div>
        <form #loginForm="ngForm">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" ngModel name="email" id="email">

          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Numéro téléphone</label>
            <input type="number" class="form-control" id="exampleInputPassword1" ngModel
            name="numTel"
            id="numTel">
          </div>

          <button type="submit" class="btn btn-primary submit" value="Login">Submit</button>
        </form>
      </div>
    </div>
