<section id="about">
    <div class="container">
        <h2><strong>{{'about.title' | translate}}</strong></h2>
        <span class="bar-title mb-5"></span>
        <div class="row">
            <div class="col-lg-4 col-md-12" data-aos="fade-right">
                <picture>
                    <img src="assets/images/profile.jpg" alt="photo de profil" class="img-fluid">
                </picture>

            </div>
            <div class="col-lg-8  col-md-12 pt-4 pt-lg-0" data-aos="fade-left">
                <h3> Welcome to We'Vents!</h3>
                <p>
                    We are passionate about creating unforgettable experiences and turning your events into extraordinary moments. <br>

                    At We'Vents, we understand that every event is unique and deserves meticulous attention to detail. Whether you're organizing a corporate conference, a dream wedding, a milestone celebration, or any other special occasion, our dedicated team of event planners is here to bring your vision to life.
                  
                    <br>
                    With years of experience in the industry, we have built a reputation for delivering seamless and exceptional events. We pride ourselves on our creative approach, personalized service, and commitment to exceeding our clients' expectations. <br>
                    
                    From conceptualization to execution, our skilled event planners will work closely with you to understand your goals, preferences, and budget. We believe in the power of collaboration and strive to create a collaborative partnership with our clients, ensuring that every aspect of your event reflects your style and captures the essence of the occasion. <br>
                    
                    Our comprehensive range of services covers everything you need for a successful event. From venue selection and design conceptualization to vendor management, logistics coordination, and on-site event supervision, we handle every detail with precision and professionalism.
                    

                </p>
               
            </div>
        </div>
    </div>
</section>