<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h3 class="text-center">Create User</h3>
      <form (ngSubmit)="onSubmit()" style="margin-top: 50px;">
        <div class="form-group" style="margin-top: 20px;">
          <label for="prenom">Name</label>
          <input type="text" class="form-control" id="prenom" [(ngModel)]="society.nomSociete" name="prenom" required>
        </div>
        <div class="form-group" style="margin-top: 20px;">
          <label for="nom">Logo</label>
          <input type="file" class="form-control" id="nom" [(ngModel)]="society.logoSociete" name="nom" required>
        </div>


        <div class="form-group" style="margin-top: 20px;">
          <label for="email">Phone number </label>
          <input type="number" class="form-control" id="email" [(ngModel)]="society.numTel" name="email" required>
        </div>
        <div class="form-group" style="margin-top: 20px;">
          <label for="motDePasse">Email</label>
          <input type="text" class="form-control" id="motDePasse" [(ngModel)]="society.email" name="motDePasse" required>
        </div>
        <div class="form-group" style="margin-top: 20px;">
          <label for="dateNaissance">Address</label>
          <input type="text" class="form-control" id="dateNaissance" [(ngModel)]="society.addresse" name="dateNaissance" required>
        </div>
        <div class="text-center">
          <button class="btn btn-success" type="submit">Ajouter</button>
        </div>
      </form>
    </div>
  </div>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Utilisateurs</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <label for="dateOfBirth">Utilisateur créé avec succès</label>
      </div>
    </form>
  </div>
</ng-template>
