<div class="container" id="login" style="width: 100%;">
  <div class="row" *ngIf="!showLogin" style="width: 100%;">
    <div class="col-md-6">
      <div class="card" id="left">
        <div class="text-center">
          <h1>Login</h1>
          <h6>Please enter your email & password</h6>
        </div>
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" ngModel name="userName" id="userName" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
          </div>
          <div *ngIf="loginForm.controls['userName'].errors && (loginForm.controls['userName'].dirty || loginForm.controls['userName'].touched)" class="text-danger">
            <div *ngIf="loginForm.controls['userName'].hasError('required')">
              Email is required.
            </div>
            <div *ngIf="loginForm.controls['userName'].hasError('pattern')">
              Please enter a valid email address.
            </div>
          </div>

          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" ngModel
            name="userPassword"
            id="userPassword" required>
          </div>
          <div *ngIf="loginForm.controls['userPassword'].errors && (loginForm.controls['userPassword'].dirty || loginForm.controls['userPassword'].touched)" class="text-danger">
            <div *ngIf="loginForm.controls['userPassword'].hasError('required')">
              Password is required.
            </div>
          </div>
          <div class="mb-3 text-center">
            <a routerLink="../users/reset-password" class="text-decoration-none" (click)="forgotPassword(loginForm)">Forgot Password</a>
          </div>
          <button type="submit" class="btn btn-primary submit" value="Login" [disabled]="loginForm.invalid">Submit</button>
        </form>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card" id="right">


          <p style="font-size: 20px;margin-top: 20px;">You don't have an account?</p>
          <br>
          <button (click)="showLogin = true" id="sign1">Sign Up</button>
          <br>
          Not Interested?
          <a class="nav-link smooth-scroll text-uppercase" href="home"><i class='bx bx-home'></i> Home
        </a>
      </div>
    </div>
  </div>

  <div class="container" *ngIf="showLogin" id="signup" style="width: 100%;">
    <div class="row" style="width: 100%;">
      <div class="col-md-6">
        <div class="card" id="left1">
          <div class="text-center">
            <h1>Sign Up</h1>
            <h6>Registration</h6>
          </div>
          <form #signupForm="ngForm" (ngSubmit)="saveUser1()">
            <div class="mb-3">
              <label for="prenom" class="form-label">Prénom</label>
              <input type="text" class="form-control" id="prenom" [(ngModel)]="user.prenom" name="prenom" required #prenom="ngModel">
            </div>
            <div *ngIf="prenom.errors && (prenom.dirty || prenom.touched)" class="text-danger">
              <div *ngIf="prenom.hasError('required')">
                Firstname is required.
              </div>
            </div>
            <div class="mb-3">
              <label for="nom" class="form-label">Nom</label>
              <input type="text" class="form-control" id="nom" [(ngModel)]="user.nom" name="nom" required #nom="ngModel">
            </div>
            <div *ngIf="nom.errors && (nom.dirty || nom.touched)" class="text-danger">
              <div *ngIf="nom.hasError('required')">
                Lastname is required.
              </div>
            </div>
            <div class="mb-3">
              <label for="dateNaissance" class="form-label">Date de naissance</label>
              <input type="date" class="form-control" id="dateNaissance" [(ngModel)]="user.dateNaissance" name="dateNaissance" required #dateNaissance="ngModel">
            </div>
            <div *ngIf="dateNaissance.errors && (dateNaissance.dirty || dateNaissance.touched)" class="text-danger">
              <div *ngIf="dateNaissance.hasError('required')">
                Date of birth is required.
              </div>
            </div>
            <div class="mb-3">
              <label for="numTel" class="form-label">Numéro de téléphone</label>
              <input type="number" class="form-control" id="numTel" [(ngModel)]="user.numTel" name="numTel" required #numTel="ngModel" minlength="8" maxlength="8">
            </div>
            <div *ngIf="numTel.errors && (numTel.dirty || numTel.touched)" class="text-danger">
              <div *ngIf="numTel.errors['required']">
                Phone number is required.
              </div>
              <div *ngIf="numTel.errors['minlength']">
                Phone number should have at least 8 digits.
              </div>
              <div *ngIf="numTel.errors['maxlength']">
                Phone number should have exactly 8 digits.
              </div>
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email</label>
              <input type="email" class="form-control" id="email" [(ngModel)]="user.email" name="email" required #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div *ngIf="email.errors && (email.dirty || email.touched)" class="text-danger">
              <div *ngIf="email.hasError('required')">
                Email is required.
              </div>
              <div *ngIf="email.hasError('pattern')">
                Please enter a valid email address.
              </div>
              <div *ngIf="emailExistsError==true" class="text-danger">
                Email already exists. Please choose a different email.
              </div>
            </div>
            <div class="mb-3">
              <label for="motDePasse" class="form-label">Mot De Passe</label>
              <input type="password" class="form-control" id="motDePasse" [(ngModel)]="user.motDePasse" name="motDePasse" required #password="ngModel">
            </div>
            <div *ngIf="password.errors && (password.dirty || password.touched)" class="text-danger">
              <div *ngIf="password.hasError('required')">
                Password is required.
              </div>
            </div>

            <button type="submit" class="btn btn-primary submit1" [disabled]="signupForm.invalid">Sign Up</button>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card" id="right1">
          <p style="font-size: 20px;margin-top: 20px;">You have an account?</p>
          <br>
          <button (click)="showLogin = false" id="sign2">Login</button>
          <br>
          <br>
          Not Interested?
          <a class="nav-link smooth-scroll text-uppercase" href="home"><i class='bx bx-home'></i> home</a>
        </div>
      </div>
    </div>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Utilisateurs</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label for="dateOfBirth">Mot de passe oublié? Vérifier votre email.</label>
        </div>
      </form>
    </div>
  </ng-template>
