<header>
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark">
    <div class="home p-1 rounded">
      <ul class="navbar-nav">
        <li class="nav-item p-1 rounded">
          <a class="nav-link smooth-scroll text-uppercase" routerLink="/home"
            ><i class="bx bx-home"></i> Home
          </a>
        </li>
        <li class="nav-item p-1 rounded">
          <a class="nav-link smooth-scroll text-uppercase" routerLink="/home"
            ><i class="bx bx-home"></i> Socities
          </a>
        </li>
        <li class="nav-item p-1 rounded">
          <a class="nav-link smooth-scroll text-uppercase" routerLink="/home"
            ><i class="bx bx-home"></i> Events
          </a>
        </li>
        <li class="nav-item p-1 rounded">
          <a
            class="nav-link js-scroll-trigger smooth-scroll text-uppercase"
            href="#references"
            ><i class="bx bxs-badge-check"></i> Forum</a
          >
        </li>
        <li class="nav-item p-1 rounded">
          <a
            *ngIf="userService.roleMatch(['ADMIN'])"
            class="nav-link smooth-scroll text-uppercase"
            routerLink="/dashboard"
            ><i class="bx bx-home"></i> Dashboard
          </a>
        </li>
        <li class="nav-item p-1 rounded">
          <a
            *ngIf="userService.roleMatch(['ADMIN'])"
            class="nav-link smooth-scroll text-uppercase"
            routerLink="/users"
            >Users</a
          >
        </li>
        <li *ngIf="isLoggedIn()" class="nav-item p-1 rounded">
          <div class="dropdown">
            <button
              class="dropdown-toggle nav-link"
              type="button"
              id="dropdownMenuButton"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="material-icons">person</i>
              <span>John Doe</span>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Profile</a>
              <a class="dropdown-item" routerLink="/reservations" href="#"
                >Reservations</a
              >
            </div>
          </div>
        </li>
        <li>
          <button *ngIf="!isLoggedIn()" type="button" class="btn btn-success" routerLink="/login">Login</button>
          <button *ngIf="isLoggedIn()" type="button" class="btn btn-danger" (click)="logout()">Logout</button>
        </li>
      </ul>

    </div>
  </nav>
</header>
