
Rania Ghazouani
li:hover,.home:hover {
    background-color: #0c3793;
    font-weight: 200;
}

i:hover {
    background-color: #0c3793d8;
    border-radius: 3px;
}
a:hover {
  background-color: white;
  border-radius: 3px;
}

nav{
    background-color: #010C80;
}

i{
  font-size: 24px;
  padding-right: 6px;
  color: #c1121f;
  font-weight: 500;
}

.nav-home:hover{
  background-color: rgb(221, 174, 43);
}
mat-radio-button{
  color:rgb(198, 174, 174);
}
a{
  display: flex;
  align-items: center;
  padding: 3px 4px;
  margin-bottom: 2px;
  transition: 0.3s;
  font-size: inherit;
  color: #0c3793d8;
}

li{
  display: inline-flex;
  color: black;
}

.navbar-dark .navbar-nav .nav-link{
  color: #edede9;
}

.mat-radio-outer-circle{
  background-color: red;
}

.mat-icon{
    margin-top: 2px;
}


.dropdown {
position: relative;
display: inline-block;
display: flex;
align-items: center;
padding: 3px 4px;
margin-bottom: 2px;
transition: 0.3s;
font-size: 15px;
}

.dropdown-toggle {
background: none;
border: none;
color: inherit;
font-size: inherit;
cursor: pointer;
}

.dropdown-menu {
position: absolute;
top: 100%;
left: -2;
z-index: 1;
display: none;
margin-right: 20px;
}

.dropdown-menu.show {
display: block;
}
.container{
width: 70%;
position: absolute;
padding: 0%;
left: 20%;
}

#signin{
  border-radius: 5px;
  padding: 5px;
  margin-top: 15px;
  padding: 10px 20px 10px 20px;
  font-size: 16px;background-color: #edede9;
}
