<div class="container" id="login" style="width: 100%;">
  <div class="row" style="width: 100%;">
    <div class="col-md-6">
      <div class="card" id="left">
        <div class="text-center">
          <h1>Reset Password</h1>
        </div>
        <form #loginForm="ngForm">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Nouveau Mot de Passe</label>
            <input type="text" class="form-control" aria-describedby="emailHelp" ngModel name="nv-pwd" id="nv-pwd">

          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Confirmez le nouveau mot de passe</label>
            <input type="text" class="form-control" ngModel
            name="c-nv-pwd"
            id="c-nv-pwd">
          </div>

          <button type="submit" class="btn btn-primary submit" value="Login">Submit</button>
        </form>
      </div>
    </div>
