<div class="container" id="reset-password" style="width: 100%;">
  <div class="card" id="left">
    <div class="text-center">
      <h1>Reset Password</h1>
      <h6>Please enter your new password</h6>
    </div>
    <form #resetForm="ngForm" (ngSubmit)="resetPassword(resetForm)">
      <div class="mb-3">
        <label for="password" class="form-label">New Password</label>
        <input type="password" class="form-control" id="password" ngModel name="password" required>
      </div>
      <button type="submit" class="btn btn-primary submit">Submit</button>
    </form>
  </div>
</div>
